<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-long">
      {% if page.diff %}
      <p class="title-contrast">You're viewing an update of</p>
      {% elsif page.version != 'current' %}
      <p class="title-contrast">You're viewing an old version of</p>
      {% endif %}
      <p class="context">Guidance</p>
      <h1>{{ page.title }}</h1>
      {% if page.version != 'current' %}
      <p class="title-contrast">
        Published {{ include.published_date | date: '%-d %B %Y' }}
      </p>
      {% endif %}
    </div>
  </div>
  <div class="column-third">
  </div>
</div>
