---
layout: rates-and-thresholds-for-employers-2017-to-2018
title: Rates and thresholds for employers 2017 to 2018
---
{% include_relative _title.html %}

{% include_relative _metadata.html %}

<p class="description">
  Use these rates and thresholds when you operate your payroll or provide expenses and benefits to your employees.
</p>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
  <div class="column-third">
    <nav role="navigation">
      <h2>Contents</h2>
      <ol class="dash-list" data-module="track-click">
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="paye-tax-and-class-1-national-insurance-contributions" href="#paye-tax-and-class-1-national-insurance-contributions">PAYE tax and Class 1 National Insurance contributions</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="tax-thresholds-rates-and-codes" href="#tax-thresholds-rates-and-codes">Tax thresholds, rates and codes</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="class-1-national-insurance-thresholds" href="#class-1-national-insurance-thresholds">Class 1 National Insurance thresholds</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="class-1-national-insurance-rates" href="#class-1-national-insurance-rates">Class 1 National Insurance rates</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="class-1a-national-insurance-expenses-and-benefits" href="#class-1a-national-insurance-expenses-and-benefits">Class 1A National Insurance: expenses and benefits</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="class-1b-national-insurance-paye-settlement-agreements-psas" href="#class-1b-national-insurance-paye-settlement-agreements-psas">Class 1B National Insurance: PAYE Settlement Agreements (PSAs)</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="national-minimum-wage" href="#national-minimum-wage">National Minimum Wage</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="statutory-maternity-paternity-adoption-and-shared-parental-pay" href="#statutory-maternity-paternity-adoption-and-shared-parental-pay">Statutory maternity, paternity, adoption and shared parental pay</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="statutory-sick-pay-ssp" href="#statutory-sick-pay-ssp">Statutory Sick Pay (SSP)</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="student-loan-recovery" href="#student-loan-recovery">Student loan recovery</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="company-cars-advisory-fuel-rates-afrs" href="#company-cars-advisory-fuel-rates-afrs">Company cars: Advisory Fuel Rates (AFRs)</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="employee-vehicles-mileage-allowance-payments-maps" href="#employee-vehicles-mileage-allowance-payments-maps">Employee vehicles: Mileage Allowance Payments (MAPs)</a>
        </li>
      </ol>
    </nav>

  </div>

  <div class="column-two-thirds ">
    <div class="govuk-govspeak direction-ltr">

    <p>Unless otherwise stated, the figures quoted apply between 6 April 2017 and 5 April 2018.</p>

    <h2 id="paye-tax-and-class-1-national-insurance-contributions">PAYE tax and Class 1 National Insurance contributions</h2>

    <p>You normally operate <a href="https://www.gov.uk/paye-for-employers">PAYE</a> as part of your payroll so HM Revenue and Customs (<abbr title="HM Revenue and Customs">HMRC</abbr>) can collect Income Tax and National Insurance from your employees.</p>

    <p>Your <a href="https://www.gov.uk/payroll-software/overview">payroll software</a> will calculate how much tax and National Insurance to deduct from your employees’ pay.</p>

    <h2 id="tax-thresholds-rates-and-codes">Tax thresholds, rates and codes</h2>

    <p>The amount of Income Tax you deduct from your employees depends on their <a href="https://www.gov.uk/employee-tax-codes">tax code</a> and how much of their taxable income is above their <a href="https://www.gov.uk/income-tax-rates/current-rates-and-allowances">Personal Allowance</a>.</p>

    <table>
      <thead>
        <tr>
          <th>PAYE tax rates, thresholds and codes</th>
          <th>2017 to 2018</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Employee personal allowance</td>
          <td>£221 per week<br>£958 per month<br>£11,500 per year</td>
        </tr>
        <tr>
          <td>UK Basic tax rate</td>
          <td>20% on annual earnings above the PAYE tax threshold and up to £33,500</td>
        </tr>
        <tr>
          <td>UK Higher tax rate</td>
          <td>40% on annual earnings from £33,501 to £150,000</td>
        </tr>
        <tr>
          <td>UK Additional tax rate</td>
          <td>45% on annual earnings above £150,000</td>
        </tr>
        <tr>
          <td>Scottish Basic tax rate</td>
          <td>20% on annual earnings above the PAYE tax threshold and up to £31,930</td>
        </tr>
        <tr>
          <td>Scottish Higher tax rate</td>
          <td>40% on annual earnings from £31,931 to £150,000</td>
        </tr>
        <tr>
          <td>Scottish Additional tax rate</td>
          <td>45% on annual earnings above £150,000</td>
        </tr>
        <tr>
          <td><a href="https://www.gov.uk/emergency-tax-code">Emergency tax codes</a></td>
          <td>1150L W1, 1150L M1 or 1150L X</td>
        </tr>
      </tbody>
    </table>

    <h2 id="class-1-national-insurance-thresholds">Class 1 National Insurance thresholds</h2>

    <p>You can only make National Insurance deductions on earnings above the Lower Earnings Limit (<abbr title="Lower Earnings Limit">LEL</abbr>).</p>

    <table>
      <thead>
        <tr>
          <th>Class 1 National Insurance thresholds</th>
          <th>2017 to 2018</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lower Earnings Limit (<abbr title="Lower Earnings Limit">LEL</abbr>)</td>
          <td>£113 per week<br>£490 per month<br>£5,876 per year</td>
        </tr>
        <tr>
          <td>Primary Threshold (<abbr title="Primary Threshold">PT</abbr>)</td>
          <td>£157 per week<br>£680 per month<br>£8,164 per year</td>
        </tr>
        <tr>
          <td>Secondary Threshold (<abbr title="Secondary Threshold">ST</abbr>)</td>
          <td>£157 per week<br>£680 per month<br>£8,164 per year</td>
        </tr>
        <tr>
          <td>Upper Secondary Threshold (under 21) (<abbr title="Upper Secondary Threshold">UST</abbr>)</td>
          <td>£866 per week<br>£3,750 per month<br>£45,000 per year</td>
        </tr>
        <tr>
          <td>Apprentice Upper Secondary Threshold (apprentice under 25) (<abbr title="Apprentice Upper Secondary Threshold">AUST</abbr>)</td>
          <td>£866 per week<br>£3,750 per month<br>£45,000 per year</td>
        </tr>
        <tr>
          <td>Upper Earnings Limit (<abbr title="Upper earnings limit">UEL</abbr>)</td>
          <td>£866 per week<br>£3,750 per month<br>£45,000 per year</td>
        </tr>
      </tbody>
    </table>

    <h2 id="class-1-national-insurance-rates">Class 1 National Insurance rates</h2>

    <h3 id="employee-primary-contribution-rates">Employee (primary) contribution rates</h3>

    <p>Deduct primary contributions (employee’s National Insurance) from your employees’ pay through PAYE.</p>

    <table>
      <thead>
        <tr>
          <th>National Insurance category letter</th>
          <th>Earnings at or above <abbr title="Lower Earnings Limit">LEL</abbr> up to and including <abbr title="Primary Threshold">PT</abbr>
    </th>
          <th>Earnings above the <abbr title="Primary Threshold">PT</abbr> up to and including <abbr title="Upper earnings limit">UEL</abbr>
    </th>
          <th>Balance of earnings above <abbr title="Upper earnings limit">UEL</abbr>
    </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>0%</td>
          <td>12%</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>B</td>
          <td>0%</td>
          <td>5.85%</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>C</td>
          <td>NIL</td>
          <td>NIL</td>
          <td>NIL</td>
        </tr>
        <tr>
          <td>H (Apprentice under 25)</td>
          <td>0%</td>
          <td>12%</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>J</td>
          <td>0%</td>
          <td>2%</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>M (under 21)</td>
          <td>0%</td>
          <td>12%</td>
          <td>2%</td>
        </tr>
        <tr>
          <td>Z (under 21 - deferment)</td>
          <td>0%</td>
          <td>2%</td>
          <td>2%</td>
        </tr>
      </tbody>
    </table>

    <h3 id="employer-secondary-contribution-rates">Employer (secondary) contribution rates</h3>

    <p>You pay secondary contributions (employer’s National Insurance) to <abbr title="HM Revenue and Customs">HMRC</abbr> as part of your <a href="https://www.gov.uk/running-payroll/paying-hmrc">PAYE bill</a>.</p>

    <p><a href="https://www.gov.uk/pay-paye-tax">Pay employers’ PAYE tax and National Insurance</a>.</p>

    <table>
      <thead>
        <tr>
          <th>National Insurance category letter</th>
          <th>Earnings at or above <abbr title="Lower Earnings Limit">LEL</abbr> up to and including <abbr title="Secondary Threshold">ST</abbr>
    </th>
          <th>Earnings above <abbr title="Secondary Threshold">ST</abbr> up to and including <abbr title="Upper earnings limit">UEL</abbr>/<abbr title="Upper Secondary Threshold">UST</abbr>/<abbr title="Apprentice Upper Secondary Threshold">AUST</abbr>
    </th>
          <th>Balance of earnings above <abbr title="Upper earnings limit">UEL</abbr>/<abbr title="Upper Secondary Threshold">UST</abbr>/<abbr title="Apprentice Upper Secondary Threshold">AUST</abbr>
    </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>0%</td>
          <td>13.80%</td>
          <td>13.80%</td>
        </tr>
        <tr>
          <td>B</td>
          <td>0%</td>
          <td>13.80%</td>
          <td>13.80 %</td>
        </tr>
        <tr>
          <td>C</td>
          <td>0%</td>
          <td>13.80%</td>
          <td>13.80%</td>
        </tr>
        <tr>
          <td>H (Apprentice under 25)</td>
          <td>0%</td>
          <td>0%</td>
          <td>13.80%</td>
        </tr>
        <tr>
          <td>J</td>
          <td>0%</td>
          <td>13.80%</td>
          <td>13.80%</td>
        </tr>
        <tr>
          <td>M (under 21)</td>
          <td>0%</td>
          <td>0%</td>
          <td>13.80%</td>
        </tr>
        <tr>
          <td>Z (under 21 - deferment)</td>
          <td>0%</td>
          <td>0%</td>
          <td>13.80%</td>
        </tr>
      </tbody>
    </table>

    <h2 id="class-1a-national-insurance-expenses-and-benefits">Class 1A National Insurance: expenses and benefits</h2>

    <p>You must pay Class 1A National Insurance on <a href="https://www.gov.uk/employer-reporting-expenses-benefits/overview">work benefits</a> you give to your employees, example a company mobile phone. You <a href="https://www.gov.uk/employer-reporting-expenses-benefits/reporting-and-paying">report and pay</a> Class 1A at the end of each tax year.</p>

    <table>
      <thead>
        <tr>
          <th>NI class</th>
          <th>2017 to 2018 rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Class 1A</td>
          <td>13.8%</td>
        </tr>
      </tbody>
    </table>

    <p><a href="https://www.gov.uk/pay-class-1a-national-insurance">Pay employers’ Class 1A National Insurance</a>.</p>

    <h2 id="class-1b-national-insurance-paye-settlement-agreements-psas">Class 1B National Insurance: PAYE Settlement Agreements (PSAs)</h2>

    <p>You pay Class 1B National Insurance if you have a <a href="https://www.gov.uk/paye-settlement-agreements/overview"><abbr title="PAYE Settlement Agreement">PSA</abbr></a>. This allows you to make one annual payment to cover all the tax and National Insurance due on small or irregular taxable expenses or benefits for your employees.</p>

    <table>
      <thead>
        <tr>
          <th>National Insurance class</th>
          <th>2017 to 2018 rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Class 1B</td>
          <td>13.8%</td>
        </tr>
      </tbody>
    </table>

    <p><a href="https://www.gov.uk/pay-psa">Pay Class 1B National Insurance</a>.</p>

    <h2 id="national-minimum-wage">National Minimum Wage</h2>

    <p>The National Minimum Wage is the minimum pay per hour <a href="https://www.gov.uk/national-minimum-wage/who-gets-the-minimum-wage">almost all workers</a> are entitled to by law. Use the <a href="https://www.gov.uk/minimum-wage-calculator-employers">National Minimum Wage calculator</a> to check if you’re paying a worker the National Minimum Wage or if you owe them payments from past years.</p>

    <p>The rates below apply from 1 April 2017.</p>

    <table>
      <tbody>
        <tr>
          <td>Category of worker</td>
          <td>Hourly rate</td>
        </tr>
        <tr>
          <td>Aged 25 and above (national living wage rate)</td>
          <td>£7.50</td>
        </tr>
        <tr>
          <td>Aged 21 to 24 inclusive</td>
          <td>£7.05</td>
        </tr>
        <tr>
          <td>Aged 18 to 20 inclusive</td>
          <td>£5.60</td>
        </tr>
        <tr>
          <td>Aged under 18 (but above compulsory school leaving age)</td>
          <td>£4.05</td>
        </tr>
        <tr>
          <td>Apprentices aged under 19</td>
          <td>£3.50</td>
        </tr>
        <tr>
          <td>Apprentices aged 19 and over, but in the first year of their apprenticeship</td>
          <td>£3.50</td>
        </tr>
      </tbody>
    </table>

    <p>See <a href="https://www.gov.uk/national-minimum-wage-rates">National Minimum Wage rates for previous years</a>.</p>

    <h2 id="statutory-maternity-paternity-adoption-and-shared-parental-pay">Statutory maternity, paternity, adoption and shared parental pay</h2>

    <p>Use the <a href="https://www.gov.uk/maternity-paternity-calculator">maternity and paternity calculator for employers</a> to calculate your employee’s Statutory maternity pay (<abbr title="Statutory Maternity Pay">SMP</abbr>), paternity or adoption pay, their qualifying week, average weekly earnings and leave period.</p>

    <table>
      <thead>
        <tr>
          <th>Type of payment or recovery</th>
          <th>2017 to 2018 rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
    <a href="https://www.gov.uk/employers-maternity-pay-leave"><abbr title="Statutory Maternity Pay">SMP</abbr></a> - weekly rate for first six weeks</td>
          <td>90% of the employee’s average weekly earnings</td>
        </tr>
        <tr>
          <td>
    <abbr title="Statutory Maternity Pay">SMP</abbr> - weekly rate for remaining weeks</td>
          <td>£140.98 or 90% of the employee’s average weekly earnings, whichever is lower</td>
        </tr>
        <tr>
          <td>
    <a href="https://www.gov.uk/employers-paternity-pay-leave">Statutory paternity pay (<abbr title="Statutory Paternity Pay">SPP</abbr>)</a> - weekly rate</td>
          <td>£140.98 or 90% of the employee’s average weekly earnings, whichever is lower</td>
        </tr>
        <tr>
          <td>
    <a href="https://www.gov.uk/employers-adoption-pay-leave">Statutory adoption pay (<abbr title="Statutory Adoption Pay">SAP</abbr>)</a> - weekly rate for first six weeks</td>
          <td>90% of employee’s average weekly earnings</td>
        </tr>
        <tr>
          <td>
    <abbr title="Statutory Adoption Pay">SAP</abbr> - weekly rate for remaining weeks</td>
          <td>£140.98 or 90% of the employee’s average weekly earnings, whichever is lower</td>
        </tr>
        <tr>
          <td>
    <a href="https://www.gov.uk/shared-parental-leave-and-pay-employer-guide">Statutory shared parental pay (<abbr title="Shared Parental Leave and Pay">ShPP</abbr>)</a> - weekly rate</td>
          <td>£140.98 or 90% of the employee’s average weekly earnings, whichever is lower</td>
        </tr>
        <tr>
          <td>
    <abbr title="Statutory Maternity Pay">SMP</abbr>/<abbr title="Statutory Paternity Pay">SPP</abbr>/<abbr title="Shared Parental Leave and Pay">ShPP</abbr>/<abbr title="Statutory Adoption Pay">SAP</abbr> - proportion of your payments you can <a href="https://www.gov.uk/recover-statutory-payments">recover from <abbr title="HM Revenue and Customs">HMRC</abbr></a>
    </td>
          <td>92% if your total Class 1 National Insurance (both employee and employer contributions) is above £45,000 for the previous tax year<br><br>103% if your total Class 1 National Insurance for the previous tax year is £45,000 or lower</td>
        </tr>
      </tbody>
    </table>

    <h2 id="statutory-sick-pay-ssp">Statutory Sick Pay (<abbr title="Statutory Sick Pay">SSP</abbr>)</h2>

    <p>The same weekly <abbr title="Statutory Sick Pay">SSP</abbr> rate applies to all employees. However, the amount you must actually pay an employee for each day they’re off work due to illness (the daily rate) depends on the number of ‘qualifying days’ (<abbr title="Qualifying days">QDs</abbr>) they work each week.</p>

    <p>Use the <a href="https://www.gov.uk/calculate-statutory-sick-pay"><abbr title="Statutory Sick Pay">SSP</abbr> calculator</a> to work out your employee’s sick pay, or use the rates below.</p>

    <table>
      <thead>
        <tr>
          <th>Unrounded daily rates</th>
          <th>Number of <abbr title="Qualifying days">QDs</abbr> in week</th>
          <th>1 day to pay</th>
          <th>2 days to pay</th>
          <th>3 days to pay</th>
          <th>4 days to pay</th>
          <th>5 days to pay</th>
          <th>6 days to pay</th>
          <th>7 days to pay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>£12.7642</td>
          <td>7</td>
          <td>£12.77</td>
          <td>£25.53</td>
          <td>£38.30</td>
          <td>£51.06</td>
          <td>£63.83</td>
          <td>£76.59</td>
          <td>£89.35</td>
        </tr>
        <tr>
          <td>£14.8916</td>
          <td>6</td>
          <td>£14.90</td>
          <td>£29.79</td>
          <td>£44.68</td>
          <td>£59.57</td>
          <td>£74.46</td>
          <td>£89.35</td>
          <td> </td>
        </tr>
        <tr>
          <td>£17.8700</td>
          <td>5</td>
          <td>£17.87</td>
          <td>£35.74</td>
          <td>£53.61</td>
          <td>£71.48</td>
          <td>£89.35</td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>£22.3375</td>
          <td>4</td>
          <td>£22.34</td>
          <td>£44.68</td>
          <td>£67.02</td>
          <td>£89.35</td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>£29.7833</td>
          <td>3</td>
          <td>£29.79</td>
          <td>£59.57</td>
          <td>£89.35</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>£44.6750</td>
          <td>2</td>
          <td>£44.68</td>
          <td>£89.35</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td>£89.3500</td>
          <td>1</td>
          <td>£89.35</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>

    <h2 id="student-loan-recovery">Student loan recovery</h2>

    <p>If your employees’ earnings are above the earnings threshold, record their <a href="https://www.gov.uk/new-employee/student-loans">student loan deductions</a> in your payroll software. It will automatically calculate and deduct repayments from their pay.</p>

    <table>
      <thead>
        <tr>
          <th>Rate or threshold</th>
          <th>2017 to 2018 rate</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Employee earnings threshold for Plan 1</td>
          <td>£17,775 per year<br>£1,481 per month<br>£341 per week</td>
        </tr>
        <tr>
          <td>Employee earnings threshold for Plan 2</td>
          <td>£21,000 per year<br>£1,750 per month<br>£403 per week</td>
        </tr>
        <tr>
          <td>Student loan deductions</td>
          <td>9%</td>
        </tr>
      </tbody>
    </table>

    <h2 id="company-cars-advisory-fuel-rates-afrs">Company cars: Advisory Fuel Rates (<abbr title="Advisory Fuel Rates">AFRs</abbr>)</h2>

    <p>Use <abbr title="Advisory Fuel Rates">AFRs</abbr> to work out mileage costs if you provide company cars to your employees.</p>

    <p>The rates below apply from 1 December 2016.</p>

    <table>
      <thead>
        <tr>
          <th>Engine size</th>
          <th>Petrol - amount per mile</th>
          <th>
    <abbr title="liquid petroleum gas">LPG</abbr> - amount per mile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1400cc or less</td>
          <td>11 pence</td>
          <td>7 pence</td>
        </tr>
        <tr>
          <td>1401cc to 2000cc</td>
          <td>14 pence</td>
          <td>9 pence</td>
        </tr>
        <tr>
          <td>Over 2000cc</td>
          <td>21 pence</td>
          <td>13 pence</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Engine size</th>
          <th>Diesel - amount per mile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1600cc or less</td>
          <td>9 pence</td>
        </tr>
        <tr>
          <td>1601cc to 2000cc</td>
          <td>11 pence</td>
        </tr>
        <tr>
          <td>Over 2000cc</td>
          <td>13 pence</td>
        </tr>
      </tbody>
    </table>

    <p>Hybrid cars are treated as either petrol or diesel cars for this purpose.</p>

    <h2 id="employee-vehicles-mileage-allowance-payments-maps">Employee vehicles: Mileage Allowance Payments (<abbr title="Mileage Allowance Payments">MAPs</abbr>)</h2>

    <p><abbr title="Mileage Allowance Payments">MAPs</abbr> are what you pay your employees for using their own vehicle for business journeys.</p>

    <p>You can pay your employees an ‘approved amount’ of <abbr title="Mileage Allowance Payments">MAPs</abbr> each year without having to report them to <abbr title="HM Revenue and Customs">HMRC</abbr>. To work out the ‘approved amount’, multiply your employee’s business travel miles for the year by the rate per mile for their vehicle.</p>

    <p>Find out more about <a href="https://www.gov.uk/expenses-and-benefits-business-travel-mileage/rules-for-tax">reporting and paying <abbr title="Mileage Allowance Payments">MAPs</abbr></a>.</p>

    <table>
      <thead>
        <tr>
          <th>Type of vehicle</th>
          <th>Rate per business mile 2017 to 2018</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Car</td>
          <td>For tax purposes: 45 pence for the first 10,000 business miles in a tax year, then 25 pence for each subsequent mile<br><br>For National Insurance purposes: 45 pence for all business miles</td>
        </tr>
        <tr>
          <td>Motorcycle</td>
          <td>24 pence for both tax and National Insurance purposes and for all business miles</td>
        </tr>
        <tr>
          <td>Cycle</td>
          <td>20 pence for both tax and National Insurance purposes and for all business miles</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
  <div data-sticky-element class="sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">Contents</a>
  </div>
</div>

{% include_relative _footer.html %}
