<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds">
    <div class="govuk-title length-average">
      {% if page.version != 'current' %}
      <p class="title-contrast">You're viewing an old version of</p>
      {% endif %}
      <h1>{{ page.title }}</h1>
      {% if page.version != 'current' %}
      <p class="title-contrast">
        {% if page.diff %}
        It shows everything that's changed between {{ include.published_date | date: '%-d %B %Y' }} and now.
        {% else %}
        Published {{ include.published_date | date: '%-d %B %Y' }}
        {% endif %}
      </p>
      {% endif %}
    </div>
