<div class="govuk-document-footer direction-ltr">
    <h2 class="visuallyhidden">
      Document information
    </h2>

    <div class="history-information" id="history">
      <br />
      <p>
        Updated:
      </p>
      <br />
      <p>
        Published:
      </p>
    </div>

    <div class="related-information">
      {% if include.version == 4 %}
      <p class="current-version">
        <span class="secondary-text">You're viewing:</span>
      {% else %}
      <p>
      {% endif %}
      <br/>
      <span class="date">27 July 2016</span>
      <br/>
      Section about paying by cheque through the post has been updated.
      {% if include.version != 4 %}
      <br/><a href="./">View current version</a>
      {% endif %}
      </span>
      </p>
      <div class="change-notes" data-module="toggle">
        <p>
          <a href="#full-history" data-controls="full-history" data-expanded="false" data-module="track-click" data-track-category="content-history" data-track-action="full-page-history-toggled" data-track-label="full-history" role="button" aria-controls="full-history" aria-expanded="false">
            + see all updates
          </a>
        </p>

        <div class="js-hidden" id="full-history" aria-live="polite" role="region">
          <span class="arrow"></span>
          <ol>
            {% if include.version == 3 %}
            <li class="current-version">
              <span class="secondary-text">You're viewing:</span><br/>
            {% else %}
            <li>
            {% endif %}
              <span class="date"><time datetime="2016-04-01T08:00:06.000+01:00">1 April 2016</time></span><br/>
              Credit card fees have changed.
              {% if include.version != 3 %}
              <br/><a href="./v3.2.html">View this version</a>
              {% endif %}
              <br/><a href="./v3.2-diff.html">Compare this version to current version</a>
            </li>
            <br>
            {% if include.version == 2 %}
            <li class="current-version">
              <span class="secondary-text">You're viewing:</span><br/>
            {% else %}
            <li>
            {% endif %}
              <span class="date"><time datetime="2016-02-29T09:30:12.000+00:00" class="timestamp">29 February 2016</time></span>
              Overseas payment details changed.
              {% if include.version != 2 %}
              <br/><a href="./v2.0.html">View this version</a>
              {% endif %}
              <br/><a href="./v2.0-diff.html">Compare this version to current version</a>
            </li>
          </ol>
        </div>
        {% if include.version == 1 %}
        <p class="current-version">
          <span class="secondary-text">You're viewing:</span><br/>
        {% else %}
        <p>
        {% endif %}
        <span class="date">2 December 2015</span><br/>
        First published.
        {% if include.version != 1 %}
        <br/><a href="./view-version-1.html">View this version</a>
        {% endif %}
        <br/><a href="./v1.10-diff.html">Compare this version to current version</a>
      </p>
    </div>
  </div>
