---
layout: pay-stamp-duty-land-tax
title: Pay Stamp Duty Land Tax
version: 2
---

{% include_relative _breadcrumbs.html %}

{% assign published_date=site.data.pay-stamp-duty-land-tax.past[2].published %}

{% include_relative _title.html published_date=published_date %}

{% include_relative _metadata.html %}

<p class="description">
	Find out how to pay your Stamp Duty Land Tax (SDLT) and the time it takes for payments to reach HM Revenue and Customs (HMRC).
</p>

<div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
  <div class="column-third">
    <nav role="navigation">
	    <h2>Contents</h2>
    	<ol class="dash-list" data-module="track-click">
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="overview" href="#overview">Overview</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="how-much-time-to-allow" href="#how-much-time-to-allow">How much time to allow</a>
        </li>
        <li>
          <a data-track-category="contentsClicked" data-track-action="leftColumnH2" data-track-label="ways-to-pay" href="#ways-to-pay">Ways to pay</a>
        </li>
    	</ol>
  	</nav>

  </div>
  <div class="column-two-thirds ">
		<div class="govuk-govspeak direction-ltr">


			<div class="govspeak"><h2 id="overview">Overview</h2>
				<div class="call-to-action">
					<p>From 1 April 2015 <abbr title="Stamp Duty Land Tax">SDLT</abbr> no longer applies to land transactions in Scotland. These will be subject to <a href="https://www.gov.uk/sdlt-scottish-transactions">Land and Buildings Transaction Tax</a>.</p>
				</div>

				<p><abbr title="Stamp Duty Land Tax">SDLT</abbr> is paid when property is bought or transferred in the UK.</p>

				<p>Payment of <abbr title="Stamp Duty Land Tax">SDLT</abbr> shouldn’t be confused with paying either:</p>

				<ul>
					<li>
						<a rel="external" href="https://www.gov.uk/pay-stamp-duty">Stamp Duty</a> on shares bought on a stock transfer form</li>
					<li>
						<a rel="external" href="https://www.gov.uk/pay-stamp-duty-reserve-tax">Stamp Duty Reserve Tax</a> on the paperless purchase of shares</li>
					<li>
						<a rel="external" href="https://www.revenue.scot/land-buildings-transaction-tax">Land and Buildings Transaction Tax</a> for transactions in Scotland</li>
				</ul>

				<p><abbr title="Stamp Duty Land Tax">SDLT</abbr> payments and returns are due within 30 days of the ‘effective’ transaction date. This is usually the date of transaction completion but can be earlier, such as the date:</p>

				<ul>
					<li>the purchaser is entitled to take possession of the property</li>
					<li>the first rent payment is due</li>
					<li>of substantial completion - where at least 90% of the payment (or other exchange) is made</li>
				</ul>

				<h2 id="how-much-time-to-allow">How much time to allow</h2>

				<p>Make sure you pay <abbr title="HM Revenue and Customs">HMRC</abbr> by the deadline or you may have to pay a penalty and/or interest.</p>

				<p>The time you need to allow depends on how you pay.</p>

				<table>
					<thead>
						<tr>
							<th>Payment method</th>
							<th>Time allowance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#bank-details-for-online-chaps-bacs">Online or Faster Payments</a></td>
							<td>Same or next day</td>
						</tr>
						<tr>
							<td><a href="#bank-details-for-online-banking-chaps-bacs">CHAPS</a></td>
							<td>Same or next day</td>
						</tr>
						<tr>
							<td><a href="#at-your-bank-or-building-society">At your bank or building society</a></td>
							<td>Same or next day</td>
						</tr>
						<tr>
							<td><a href="#at-the-post-office">At the Post Office</a></td>
							<td>Same or next day</td>
						</tr>
						<tr>
							<td><a href="#by-debit-or-credit-card-online">By debit or credit card online</a></td>
							<td>Same or next day</td>
						</tr>
						<tr>
							<td><a href="#bank-details-for-online-or-telephone-banking-chaps-bacs">Bacs</a></td>
							<td>3 working days</td>
						</tr>
						<tr>
							<td><a href="#post">By cheque through the post</a></td>
							<td>3 working days</td>
						</tr>
					</tbody>
				</table>

				<div class="call-to-action">
					<p>Make sure your payment reaches <abbr title="HM Revenue and Customs">HMRC</abbr> on the last working day before the deadline if it falls on a weekend or bank holiday (unless you’re paying by Faster Payments).</p>
				</div>

				<h2 id="ways-to-pay">Ways to pay</h2>

				<p>You can pay by Faster Payments, CHAPS or Bacs to <abbr title="HM Revenue and Customs">HMRC</abbr>’s account.</p>

				<h3 id="bank-details-for-online-chaps-and-bacs">Bank details for online, CHAPS and Bacs</h3>

				<table>
					<thead>
						<tr>
							<th>Sort code</th>
							<th>Account number</th>
							<th>Account name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>08 32 10</td>
							<td>12001020</td>
							<td>
								<abbr title="HM Revenue and Customs">HMRC</abbr> Shipley</td>
						</tr>
					</tbody>
				</table>

				<p>You’ll need your 11-character Unique Transaction Reference Number (<abbr title="Unique Transaction Reference Number">UTRN</abbr>). You’ll find this on your paper return or on your electronic SDLT5 certificate.</p>

				<div class="call-to-action">
					<p>Your payment may be delayed if you use the wrong reference number.</p>
				</div>

				<p>It is recommended that you make separate payments for each unique <abbr title="Unique Transaction Reference Number">UTRN</abbr>. If you need to make a single payment to cover a number of transactions you should first contact <a rel="external" href="http://www.hmrc.gov.uk/payingHMRC/shipley.htm"><abbr title="HM Revenue and Customs">HMRC</abbr>’s Shipley Accounts Office</a> for further information. Please only contact this team for advice on CHAPS payments.</p>

				<p>Payments by:</p>

				<ul>
					<li>Faster Payments (online or telephone banking) usually reach <abbr title="HM Revenue and Customs">HMRC</abbr> on the same or next day, including weekends and bank holidays</li>
					<li>CHAPS usually reach <abbr title="HM Revenue and Customs">HMRC</abbr> the same working day if you pay within your bank’s processing times</li>
					<li>Bacs usually take 3 working days</li>
				</ul>

				<h3 id="overseas-payments">Overseas payments</h3>

				<p>Use these details to pay from an overseas account.</p>

				<table>
					<thead>
						<tr>
							<th>Account number (IBAN)</th>
							<th>Bank identifier code (BIC)</th>
							<th>Account name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>GB03 BARC 2011 4783 9776 92</td>
							<td>BARCGB22</td>
							<td>
								<abbr title="HM Revenue and Customs">HMRC</abbr> Shipley</td>
						</tr>
					</tbody>
				</table>

				<p>If you need to provide your bank with <abbr title="HM Revenue and Customs">HMRC</abbr>’s banking address it is:</p>

				<div class="address"><div class="adr org fn"><p>

							Barclays Bank Plc
							<br>1 Churchill Place
							<br>London
							<br>United Kingdom
							<br>E14 5HO
							<br>
				</p></div></div>

				<h3 id="by-debit-or-credit-card-online">By debit or credit card online</h3>

				<p>You can <a rel="external" href="https://www.tax.service.gov.uk/pay-online/stamp-duty">pay online</a>.</p>

				<p>You’ll pay a 1.5% fee if you use a credit card. The fee isn’t refundable.</p>

				<div class="call-to-action">
					<p>You may be directed to use a <a href="https://www.gov.uk/help/beta">beta</a> service when you pay online. This is replacing BillPay.</p>
				</div>

				<p>From 1 January 2016, <abbr title="HM Revenue and Customs">HMRC</abbr> will limit the number of credit and debit card payments you can make to any single tax regime within a given period of time, so that only a reasonable number of payments can be made.</p>

				<p><abbr title="HM Revenue and Customs">HMRC</abbr> will determine what is reasonable by reference to payment card industry standards and guidance.</p>

				<p>If you’re unable to make full payment by credit/debit card you’ll have to use an alternative payment method.</p>

				<p><abbr title="HM Revenue and Customs">HMRC</abbr> may withdraw the facility to pay by credit/debit card from any customer attempting to circumvent this restriction.</p>

				<p>You’ll need your 11-character <abbr title="Unique Transaction Reference Number">UTRN</abbr>. You’ll find this on your paper return or on your electronic SDLT5 certificate.</p>

				<div class="call-to-action">
					<p>Your payment may be delayed if you use the wrong reference number.</p>
				</div>

				<p><abbr title="HM Revenue and Customs">HMRC</abbr> will accept your payment on the date you make it and not the date it reaches <abbr title="HM Revenue and Customs">HMRC</abbr>’s account, including on bank holidays and weekends.</p>

				<h3 id="at-your-bank-or-building-society">At your bank or building society</h3>

				<p>You can make payment at your own branch by cheque or cash. You’ll need your 11-character <abbr title="Unique Transaction Reference Number">UTRN</abbr>. You’ll find this on your paper return or on your electronic SDLT5 certificate.</p>

				<p>Make sure that you:</p>

				<ul>
					<li>use your own bank branch - or you’ll be charged for the service</li>
					<li>use your <abbr title="HM Revenue and Customs">HMRC</abbr> payslip if you completed a paper return or use software that requires a payslip that shows the <abbr title="Unique Transaction Reference Number">UTRN</abbr> of your submitted return</li>
					<li>make cheques payable to ‘HM Revenue and Customs’ and write your <abbr title="Unique Transaction Reference Number">UTRN</abbr> on the front</li>
				</ul>

				<div class="call-to-action">
					<p>Your payment may be delayed if you use the wrong reference number.</p>
				</div>

				<p><abbr title="HM Revenue and Customs">HMRC</abbr> will accept your payment on the date you make it and not the date it reaches <abbr title="HM Revenue and Customs">HMRC</abbr>’s account, if you pay between Monday and Friday.</p>

				<h3 id="at-the-post-office">At the Post Office</h3>

				<div class="call-to-action">
					<p>You can pay at the Post Office by cheque, cash or debit card without charge (subject to a maximum of £10,000).</p>
				</div>

				<p>Make sure that you either use:</p>

				<ul>
					<li>your <abbr title="HM Revenue and Customs">HMRC</abbr> payslip if you completed a paper return, or you’ll be charged</li>
					<li>software that requires a payslip that shows the <abbr title="Unique Transaction Reference Number">UTRN</abbr> of your submitted return</li>
				</ul>

				<p>You should make cheques payable to ‘Post Office Ltd’.</p>

				<p><abbr title="HM Revenue and Customs">HMRC</abbr> will accept your payment on the date you make it if you pay between Monday and Friday, not the date it reaches <abbr title="HM Revenue and Customs">HMRC</abbr>’s account.</p>

				<h3 id="post">By cheque through the post</h3>

				<p>Make your cheque payable to ‘HM Revenue and Customs only’ followed by your 11-character <abbr title="Unique Transaction Reference Number">UTRN</abbr>. You’ll find this on your paper return or on your electronic SDLT5 certificate. If you are sending a cheque for more than one <abbr title="Unique Transaction Reference Number">UTRN</abbr> you should send a schedule listing each <abbr title="Unique Transaction Reference Number">UTRN</abbr> against each amount.</p>

				<p>If you filed a paper return you’ll need to complete the payslip (from the back of the return) and send this with your cheque.</p>

				<p>Don’t fold the cheque or fasten it to other papers.</p>

				<p>You should allow 3 working days for your payment to reach <abbr title="HM Revenue and Customs">HMRC</abbr>.</p>

				<p>If you filed a paper return or if you used <abbr title="HM Revenue and Customs">HMRC</abbr>’s Stamp Duty Online product or commercial software which generates your <abbr title="Unique Transaction Reference Number">UTRN</abbr> send your payment to:</p>

				<div class="address"><div class="adr org fn"><p>

							<abbr title="HM Revenue and Customs">HMRC</abbr> Stamp Taxes
							<br>Comben House
							<br>Farriers Way
							<br>Netherton
							<br>Merseyside
							<br>L30 4RN
							<br>
				</p></div></div>

				<p>If you’re using the DX service send to:</p>

				<div class="address"><div class="adr org fn"><p>

							<abbr title="HM Revenue and Customs">HMRC</abbr> <abbr title="Stamp Duty Land Tax">SDLT</abbr>
							<br>Rapid Data Capture Centre
							<br>DX725593
							<br>Bootle 9
							<br>
				</p></div></div>

				<p>If you use commercial software that asks you to use the <abbr title="Unique Transaction Reference Number">UTRN</abbr> from your <abbr title="Stamp Duty Land Tax">SDLT</abbr> payslip book then send your payslip and cheque to:</p>

				<div class="address"><div class="adr org fn"><p>

							HM Revenue and Customs
							<br>Direct
							<br>BX5 5BD
							<br>
				</p></div></div>

				<div class="call-to-action">
					<p>You don’t need to include a street name, city name or PO box with this address.</p>
				</div>

				<p>If you have a reply envelope showing a different address (HM Revenue and Customs, Bradford, BD98 1YY), you can still use the envelope to post your cheque.</p>

				<p>If you’re paying by post you can include a letter with your payment to request a receipt from <abbr title="HM Revenue and Customs">HMRC</abbr>.</p>

			</div>
		</div>
	</div>
	<div data-sticky-element class="sticky-element">
    <a class="back-to-content" data-track-category="contentsClicked" data-track-action="backToContentsLinkClicked" data-track-label="contents" data-module="track-click" href="#contents">Contents</a>
  </div>
</div>

{% include change-history.html data=site.data.pay-stamp-duty-land-tax %}
