{% if page.version == 'current' %}{% assign showing_current = true %}{% endif %}
<div class="govuk-document-footer direction-ltr">
  <h2 class="visuallyhidden">
    Document information
  </h2>

  <div class="history-information" id="history">
    <p>
      Last updated:
    </p>
  </div>

  <div class="related-information">
    {% if showing_current %}
    <p class="current-version">
      <span class="secondary-text">You're viewing:</span>
      <br/>
    {% else %}
    <p>
    {% endif %}
    <span class="date">{{ include.data.current.updated | date: "%-d %B %Y" }}</span>
    <br/>
    {{ include.data.current.change_note }}
    {% unless showing_current and page.diff != true %}
    <br/><a href="./">View the most up-to-date version</a>
    {% endunless %}
    {% if include.data.show_diffs %}
      {% unless page.version == "current" and page.diff %}
      <br/><a href="{{ include.data.current.diff_link }}">See this update</a>
      {% endunless %}
    {% endif %}
    </span>
    </p>
    <div class="change-notes" data-module="toggle">
      <div id="full-history" aria-live="polite" role="region">
        <span class="arrow"></span>
        <ol>
          {% for version in include.data.past %}
            {% if forloop.last %}{% continue %}{% endif %}
            {% if page.version == version[0] %}
            <li class="current-version">
              {% if page.diff %}
              <span class="secondary-text">You're comparing:</span><br/>
              {% else %}
              <span class="secondary-text">You're viewing:</span><br/>
              {% endif %}
            {% else %}
            <li>
            {% endif %}

            <time datetime="{{ version[1].published | date_to_xmlschema }}" class="date timestamp">{{ version[1].published | date: "%-d %B %Y" }}</time>
              <p style="margin-bottom: 8px">{{ version[1].change_note }}</p>
              {% if include.data.show_diffs %}
                {% unless page.version == version[0] and page.diff %}
                <a href="{{ version[1].diff_link }}">See this update</a><br/>
                {% endunless %}
              {% endif %}
            </li>
          {% endfor %}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="history-information" id="history">
    <p>
      Published:
    </p>
  </div>
  <div class="related-information">
    {% if page.version == 1 %}
      <p class="current-version">
        {% if page.diff %}
        <span class="secondary-text">You're comparing:</span><br/>
        {% else %}
        <span class="secondary-text">You're viewing:</span><br/>
        {% endif %}
    {% else %}
      <p>
    {% endif %}
      <span class="date">{{ include.data.past[1].published | date: "%-d %B %Y" }}</span><br/>
      <span style="display: inline-block; margin-bottom: 8px">{{ include.data.past[1].change_note }}</span><br />
    </p>
  </div>
</div>
