.secondary-text {
  color: #6f777b
}

.current-version {
  border-left:1px solid #bfc1c3;
  padding-left:15px;
}

.date {
  font-size: 19px;
  font-weight: bold;
}

.title-contrast {
  font-size: 36px;
  color: #6f777b;
}
