<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ page.title }} - GOV.UK</title>
    {% include header-assets.html %}

<!--<![endif]--><meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="ykxu+7MCNr+5LVFJHkh3HKxw25ljqmWJDV/QJ/G+LSLn8i0JC1O2QZRrdA3TtREKh9QQkCDALgg5ql031lQ1cw==">
<meta name="govuk:format" content="detailed_guide">
<meta name="govuk:schema-name" content="detailed_guide">
<meta name="govuk:analytics:organisations" content="&lt;D25&gt;">
<meta name="govuk:political-status" content="non-political">
<meta name="govuk:publishing-government" content="2010-to-2015-conservative-and-liberal-democrat-coalition-government">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="govuk:content-has-history" content="true">
<meta name="description" content="Find out how to pay your Stamp Duty Land Tax (SDLT) and the time it takes for payments to reach HM Revenue and Customs (HMRC).">
<meta name="govuk:content-id" content="602470b8-7631-11e4-a3cb-005056011aef">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-444669b57580adba34d3764e115739d9b26bfc3357b8a3a04c005be7ff9f4235.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-ed7ead23da7360a09e1676bd6891f8a4ecb1fea35ad953c4053fbc701f4b7370.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-f1646cc2e467897235115c6dabf46d457de850bc456a7a696af34e7d4e9581dc.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/assets/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="https://www.gov.uk/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="" href="https://www.gov.uk/government/organisations">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/world">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/how-government-works">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/get-involved">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="https://www.gov.uk/government/policies">
        Policies
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/publications">
        Publications
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/publications?publication_filter_option=consultations">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/statistics">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="https://www.gov.uk/government/announcements">
        Announcements
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" class="detailed-guide" lang="en">



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="https://www.gov.uk/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/topic/dealing-with-hmrc" data-track-options='{"dimension28":"3","dimension29":"Dealing with HMRC"}' class="" aria-current="false" href="https://www.gov.uk/topic/dealing-with-hmrc">Dealing with HMRC</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/topic/dealing-with-hmrc/paying-hmrc" data-track-options='{"dimension28":"3","dimension29":"Paying HMRC"}' class="" aria-current="false" href="https://www.gov.uk/topic/dealing-with-hmrc/paying-hmrc">Paying HMRC</a>
    </li>
  </ol>
</div>

{{ content }}

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/guidance/pay-stamp-duty-land-tax">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
          <li><a href="https://www.gov.uk/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="https://www.gov.uk/browse/business">Business and self-employed</a></li>
          <li><a href="https://www.gov.uk/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="https://www.gov.uk/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="https://www.gov.uk/browse/justice">Crime, justice and the law</a></li>
          <li><a href="https://www.gov.uk/browse/disabilities">Disabled people</a></li>
          <li><a href="https://www.gov.uk/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="https://www.gov.uk/browse/education">Education and learning</a></li>
          <li><a href="https://www.gov.uk/browse/employing-people">Employing people</a></li>
          <li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="https://www.gov.uk/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="https://www.gov.uk/browse/tax">Money and tax</a></li>
          <li><a href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="https://www.gov.uk/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="https://www.gov.uk/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="https://www.gov.uk/government/how-government-works">How government works</a></li>
          <li><a href="https://www.gov.uk/government/organisations">Departments</a></li>
          <li><a href="https://www.gov.uk/government/world">Worldwide</a></li>
          <li><a href="https://www.gov.uk/government/policies">Policies</a></li>
          <li><a href="https://www.gov.uk/government/publications">Publications</a></li>
          <li><a href="https://www.gov.uk/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="https://www.gov.uk/help">Help</a></li>
  <li><a href="https://www.gov.uk/help/cookies">Cookies</a></li>
  <li><a href="https://www.gov.uk/contact">Contact</a></li>
  <li><a href="https://www.gov.uk/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="https://www.gov.uk/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="../assets//govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="../assets/jquery-1.11.3-c40d54aaf7339842749de8469b5b8915b886b5e67cd218d48a780cc2f2471853.js"></script>
<script src="../assets/header-footer-only-67c9fdb12cd069ce13482bbbf163a8b50f79d4c6ca75df83e5351559b96fa034.js"></script>
<script src="../assets/surveys-f8a25c4f85ad5520f9ae61b244160bef62467f30ec1517dfe8bf7a0fc0a61e16.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="../assets/application-33a7e0b6382eb3a79f04760bfc1fc54b920f068fa08b60294cf6f833e2d86d15.js"></script>
</body>
</html>
